<a href="/record" class="btn btn-success"><i class="fa fa-video-camera" aria-hidden="true"></i> Record</a>

<table data-pagination="true" class="table table-striped table-hover">
  <thead> 
    <tr>
      <th>#</th>
      <th>Name</th>
      <th>Size</th>
      <th>Created</th>
    </tr>
  </thead> 
  <tbody>
    {{#each videos}}
    <tr>
      <th scope="row">{{@index}}</th>
      <td><a href="#">{{name}}</a></td>
      <td>{{size}}</td>
      <td>{{created}}</td>
    </tr>
    {{/each}}
  </tbody>
</table>

{{#section 'script'}}

<script type="application/javascript">
    $(function() {
        alert( "I'm ready!" );
    });
</script>

{{/section}}
